= f.hidden_field :commentable_id, {:value => id}
= f.hidden_field :commentable_type, {:value => type}

%fieldset
  %legend Add a comment
  %p
    %label{:for => "comment_body"}
      Tell us your insights
      %br/
      = f.text_area :body

  %p
    = f.submit "Update"